<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Hola mundo</title>
</head>
<body>
	<h1 th:text="${titulo}">Hola mundo</h1>

	<!-- 	<h2 th:text="${alumno.nombre}"></h2> -->
	<!-- 	<h2 th:text="${alumno.matricula}"></h2> -->
	<!-- 	<h2 th:if="${alumno.correo}" th:text="${alumno.correo}"></h2> -->
	<!-- 	<h2 th:unless="${alumno.correo}" th:text="${'no fue otorgado'}"></h2> -->

	<table>
		<thead>
			<tr>
				<th>Matricula</th>
				<th>Nombre</th>
				<th>Correo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="alumno: ${alumnos}">
				<td th:text="${alumno.nombre}">Matricula</td>
				<td th:text="${alumno.matricula}">Nombre</td>
				<td th:if="${alumno.correo}" th:text="${alumno.correo}">Correo</td>
				<td th:unless="${alumno.correo}" th:text="${'no fue otorgado'}">Correo</td>
			</tr>
		</tbody>
	</table>
</body>
</html>